:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Box */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.d-grid{
    display: grid;
}
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.gap-15{
    gap: 15px;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
.overflow-hidden{
    overflow: hidden;
}
.no-resize{
    resize: none;
}
/* End Box */

/* Margin + Padding */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-15{
    padding-left: 15px;
}
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
    height: 100%;
}
/* End Margin + Padding */

/* Colors */
.bg-white{
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.bg-grey{
    background-color: var(--grey-color);
}
.c-black{
    color: #000;
}
.c-grey{
    color: var(--grey-color);
}
.c-white{
    color: #fff;
}
.c-blue{
    color: var(--blue-color);
}
.c-green{
    color: var(--green-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-red{
    color: var(--red-color);
}
/* End Colors */

/* Position */
.p-relative{
    position: relative;
}
/* End Position */

/* Text */
.text-center{
    text-align: center;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
/* End Text */

/* Border */
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
.b-none{
    border: none;
}
.border-ccc{
    border: 1px solid #ccc;
}
.border-eee{
    border: 1px solid #eee;
}
/* End Border */

/* Components */
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
.toggle-checkbox{
    display: none;
}
.toggle-switch{
    position: relative;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    background-color: #ccc;
    cursor: pointer;
    transition: .3s;
}
.toggle-switch::before{
    content: "\f00d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: .3s;
}
.toggle-checkbox:checked + .toggle-switch{
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before{
    left: calc(100% - 28px);
    content: "\f00c";
    color: var(--blue-color);
}
input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--grey-color);
    border-radius: 3px;
    transition: .2s;
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]::after{
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    color: #fff;
    transform: scale(0) rotate(360deg);
    transition: .2s;
}
input[type="checkbox"]:checked::after{
    transform: scale(1) rotate(0);
}
input[type="checkbox"]:checked{
    border-color: var(--blue-color);
}
input[type="checkbox"]:hover{
    border-color: var(--blue-color);
}
input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
    position: relative;
}
input[type="radio"]::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    color: #fff;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;
}
input[type="radio"]:checked::after{
    transform: translate(-50%, -50%) scale(1);
}
input[type="radio"]:checked{
    border-color: var(--blue-color);
}
input[type="radio"]:hover{
    border-color: var(--blue-color);
}
/* End Components */

/* Media Queries */
@media (max-width: 767px){
    .hide-mobile{
        display: none;
    }
    .block-mobile{
        display: block;
    }
    .p-10-mobile{
        padding: 10px;
    }
    .text-center-mobile{
        text-align: center;
    }
    .flex-column-mobile{
        flex-direction: column;
    }
}
/* End Media Queries */