/* Global Rules */

:root{
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

*:focus{
    outline: none;
}

*::selection{
    background-color: var(--blue-color);
    color: #fff;
}

/* End Global Rules */

/* Page Styles */

.page{
    min-height: 100vh;
}

/* End Page Styles */

/* Sidebar */

.sidebar{
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar{
    width: 1px;
}

.sidebar h3{
    font-size: 20px;
}

.sidebar h3::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: #000;
}

.sidebar h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #000;
    z-index: 100;
}

.sidebar ul li a{
    transition: .2s;
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f1f1f1;
}

@media (max-width: 767px){
    .sidebar{
        width: 61px;
        box-shadow: 0 0 10px #ddd;
        padding: 10px;
    }
    .sidebar ul li a{
        width: 100%;
    }
    .sidebar ul li a i{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .sidebar h3{
        font-size: 13px;
        letter-spacing: -2px;
        margin-bottom: 15px;
        padding: 0;
        font-weight: 900;
    }
    .sidebar h3::after,
    .sidebar h3::before{
        display: none;
    }
}

/* End Sidebar */

/* Content */

.content {
    overflow: hidden;
}

.content .head .search input{
    border: 1px solid #ccc;
    width: 160px;
    padding-left: 30px;
    transition: .2s;
    font-size: 13px;
}

.content .head .search::before{
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--grey-color);
}

.content .head .search input:focus{
    width: 170px;
}

.content .head .search input::placeholder{
    transition: .2s;
}

.content .head .search input:focus::placeholder{
    opacity: 0;
}

.content .icons img{
    width: 30px;
    height: 30px;
}

.content .icons a{
    color: #000;
}

.content .icons a::after{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 7px;
    height: 7px;
    background-color: var(--red-color);
    border-radius: 50%;
}

.page .content h1{
    margin: 20px 20px 40px;
    font-size: 30px;
}

.page .content h1::before,
.page .content h1::after{
    content: "";
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.page .content h1::before{
    background-color: #fff;
    width: 120px;
}

.page .content h1::after{
    background-color: #000;
    width: 45px;
}

.page .content .wrapper{
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin: 0 20px;
}

@media (max-width: 767px){
    .page .content h1{
        font-size: 25px;
    }
    .page .content .wrapper{
        grid-template-columns: minmax(195px, 1fr);
        margin: 0 10px;
    }
}

@media (max-width: 320px){
    .content .head .search input{
        width: 125px;
        font-size: 11px;
    }
    .content .head .search input:focus{
        width: 125px;
    }
}

/* End Content */

/* Welcome Widget */

.welcome .intro img.welcome-img{
    max-width: 200px;
}

.welcome .intro .text{
    padding-bottom: 35px;
}

.welcome .body .info{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body .info div{
    flex: 1;
}

.welcome img.avatar-img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 0 -32px 20px;
    transform: translateY(-50%);
    border: 2px solid #fff;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
}

.welcome .body a.visit{
    margin-left: auto;
    transition: .2s;
}

.welcome .body a.visit:hover{
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px){
    .welcome img.avatar-img{
        margin-left: 0;
    }
}

/* End Welcome Widget */

/* Quick Draft Widget */

.quick-draft textarea,
.quick-draft input{
    font-family: inherit;
}

.quick-draft textarea{
    resize: none;
    height: 130px;
}

.quick-draft button{
    margin-left: auto;
    transition: .2s;
    cursor: pointer;
}

.quick-draft button:hover{
    background-color: var(--blue-alt-color);
}

/* End Quick Draft Widget */

/* Targets Widget */

.yearly-targets .target-row .icon{
    width: 65px;
    height: 65px;
}

.yearly-targets .target-row .details{
    flex: 1;
}

.yearly-targets .target-row .details .progress{
    height: 4px;
}

.yearly-targets .target-row .details .progress > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.yearly-targets .target-row .details .progress > span span{
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2px 5px;
    font-size: 12px;
}

.yearly-targets .target-row.blue .icon{
    background-color: rgba(0, 119, 255, 20%);
}

.yearly-targets .target-row.blue .details .progress{
    background-color: rgba(0, 119, 255, 20%);
}

.yearly-targets .target-row.orange .icon{
    background-color: rgba(245, 158, 11, 20%);
}

.yearly-targets .target-row.orange .details .progress{
    background-color: rgba(245, 158, 11, 20%);
}

.yearly-targets .target-row.green .icon{
    background-color: rgba(34, 197, 94, 20%);
}

.yearly-targets .target-row.green .details .progress{
    background-color: rgba(34, 197, 94, 20%);
}

/* End Targets Widget */

/* Tickets Widget */

.tickets .stats .box{
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width: 767px){
    .tickets .stats .box{
        width: 100%;
    }
}

/* End Tickets Widget */

/* Latest News Widget */

.latest-news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.latest-news .news-row img{
    width: 100px;
}

.latest-news .news-row .info{
    flex: 1;
}

@media (max-width: 767px){
    .latest-news .news-row .info{
        margin: 12px 0;
    }

    .latest-news .news-row .label{
        width: fit-content;
        margin: 0 auto;
    }
}

/* End Latest News Widget */

/* Tasks Widget */

.tasks .task-row:not(:last-of-type){
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;
}

.tasks .task-row .delete{
    cursor: pointer;
    transition: .2s;
}

.tasks .task-row .delete:hover{
    color: var(--red-color);
}

.tasks .task-row.done{
    opacity: .3;
}

.tasks .task-row.done h3,
.tasks .task-row.done p{
    text-decoration: line-through;
}

/* End Tasks Widget */

/* Latest Uploads Widget */

.latest-uploads ul li:not(:last-of-type){
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li .info{
    flex: 1;
}

.latest-uploads ul li img{
    width: 40px;
    height: 40px;
}

/* End Latest Uploads Widget */

/* Current Project Widget */

.current-project ul{
    border-left: 2px solid var(--blue-color);
    z-index: 2;
}

.current-project li{
    padding-left: 30px;
}

.current-project li:first-of-type{
    padding-top: 0;
}

.current-project li:last-of-type{
    padding-bottom: 0;
}

.current-project li::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transform: translateX(-50%);
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
}

.current-project li.done::before{
    background-color: var(--blue-color);
}

.current-project li.current::before{
    animation: change-color .5s alternate infinite;
}

.current-project img:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 170px;
    opacity: 0.1;
    z-index: 1;
}

/* End Current Project Widget */

/* Reminders Widget */

.reminders ul li span.key{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.reminders ul li:not(:last-of-type){
    margin-bottom: 15px;
}

.reminders ul li .info.blue{
    border-left: 2px solid var(--blue-color);
}

.reminders ul li .info.green{
    border-left: 2px solid var(--green-color);
}

.reminders ul li .info.orange{
    border-left: 2px solid var(--orange-color);
}

.reminders ul li .info.red{
    border-left: 2px solid var(--red-color);
}

/* End Reminders Widget */

/* Latest Post Widget */

.latest-post .top img{
    width: 48px;
    height: 48px;
}

.latest-post .content{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.latest-post .content p{
    line-height: 1.8;
    text-transform: capitalize;
}

/* End Latest Post Widget */

/* Social Media Stats Widget */

.social .box{
    padding-left: 65px;
}

.social .box:not(:last-of-type){
    margin-bottom: 10px;
}

.social .box i{
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    background-color: var(--main-color);
    transition: .3s;
}

.social .box:hover i{
    transform: rotate(5deg);
}

.social .box span{
    color: var(--main-color);
}

.social .box a{
    background-color: var(--main-color);
    color: #fff;
}

.social .box.twitter{
    background-color: #1da1f233;
    --main-color: #1da1f2;
}

.social .box.facebook{
    background-color: #1877f233;
    --main-color: #1877f2;
}

.social .box.youtube{
    background-color: #ff000033;
    --main-color: #ff0000;
}

.social .box.linkedin{
    background-color: #0077b533;
    --main-color: #0077b5;
}

/* End Social Media Stats Widget */

/* Projects Table */

@media (max-width: 767px){
    .projects{
        margin: 20px 10px;
    }
}

.projects .responsive-table{
    overflow-x: auto;
}

.projects table{
    min-width: 1000px;
    border-spacing: 0;
}

.projects table td{
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.projects table tr td:last-of-type{
    border-right: 1px solid #eee;
}

.projects table tbody tr{
    transition: .2s;
}

.projects table tbody tr:hover{
    background-color: #f0f4f8;
}

.projects .responsive-table table tbody td img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
}

.projects .responsive-table table tbody td img:not(:first-of-type){
    margin-left: -20px;
}

/* End Projects Table */

/* ============================================================= */

/* Settings Page */

/* Site Control Widget */

.site-control textarea{
    height: 150px;
    outline: none;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
}

.site-control button{
    outline: none;
    transition: .2s;
    margin-left: auto;
    cursor: pointer;
}

.site-control button:hover{
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px){
    .site-control label .toggle-switch{
        width: 60px;
        height: 30px;
    }
}

/* End Site Control Widget */

/* General Info Widget */

.general-info input:disabled{
    cursor: no-drop;
    background-color: #f0f4f8;
}

.general-info input:disabled::placeholder{
    color: #bbb;
}

/* End General Info Widget */

/* Security Info Widget */

.sec-info a.button{
    transition: .2s;
}

.sec-info > div:not(:last-of-type){
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sec-info a.button:hover{
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px){
    .sec-info label .toggle-switch{
        width: 60px;
        height: 30px;
    }
}

/* End Security Info Widget */

/* Social Media Info Widget */

.social-info i{
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: .3s;
}

.social-info input{
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.social-info div:focus-within > i{
    color: #000;
}

/* End Social Media Info Widget */

/* Widgets Control Widget */

.widgets-control .control label{
    cursor: pointer;
}

/* End Widgets Control Widget */

/* Backup Manager Widget */

.backup-manager .servers{
    border-top: 1px solid #eee;
}

.backup-manager .servers input{
    display: none;
}

.backup-manager .servers .server{
    border: 2px solid #eee;
    transition: .2s;
    cursor: pointer;
}

.backup-manager .servers input:checked + .server{
    color: var(--blue-color);
    border-color: var(--blue-color);
}

/* End Backup Manager Widget */

/* End Settings Page */

/* ============================================================= */

/* ============================================================= */

/* Profile Page */

/* Overview Widget */

.profile-page .overview .avatar-box{
    max-width: 100%;
    width: 300px;
}

.profile-page .overview .avatar-box img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

@media (min-width: 768px){
    .profile-page .overview .avatar-box{
        border-right: 1px solid #eee;
    }
}

.profile-page .overview .avatar-box .progress{
    height: 6px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.profile-page .overview .avatar-box .progress span{
    position: absolute;
    left: 0;
    top: 0;
}

.profile-page .overview .info-box .row:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

.profile-page .overview .info-box .row .info{
    flex-wrap: wrap;
}

.profile-page .overview .info-box .row .info div{
    max-width: 100%;
    width: 250px;
}

.profile-page .overview .info-box .row .info div label .toggle-switch{
    width: 60px;
    height: 20px;
    font-size: 10px;
}

@media (max-width: 767px){
    .profile-page .overview .info-box .row .info div{
        justify-content: center;
    }
    .profile-page .overview .avatar-box{
        border-bottom: 1px solid #eee;
    }
    .profile-page .overview{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.profile-page .overview .info-box .row .info div label .toggle-switch::before{
    height: 14px;
    width: 14px;
}

.profile-page .overview .info-box .row .info div label .toggle-checkbox:checked + .toggle-switch::before{
    left: calc(100% - 18px);
    content: "\f00c";
    color: var(--blue-color);
}

/* End Overview Widget */

/* Other Data */

@media (max-width: 767px){
    .other-data{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.other-data{
    flex-wrap: wrap;
}

.other-data .skills ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}

.other-data .skills ul li span{
    display: inline-block;
    margin: 2px;
}

.other-data .skills{
    flex-grow: 1;
}

.other-data .latest-activities{
    flex-grow: 2;
}

.other-data .latest-activities .activity:not(:last-of-type){
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.other-data .latest-activities .activity img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

@media (min-width: 768px){
    .other-data .latest-activities .activity .date{
        text-align: right;
    }
}

/* End Other Data */

/* End Profile Page */

/* ============================================================= */

/* ============================================================= */

/* Projects Page */

.projects-page .project span.date{
    position: absolute;
    top: 10px;
    right: 10px;
}

.projects-page .project .team a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.projects-page .project .team a:hover{
    z-index: 1000;
}

.projects-page .project .team a:not(:first-of-type) img{
    margin-left: -20px;
}

.projects-page .project .technologies{
    margin-left: auto;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    flex-wrap: wrap;
    justify-content: end;
}

.projects-page .project .info{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.projects-page .project .info .progress{
    max-width: 250px;
    width: 100%;
    height: 8px;
}

.projects-page .project .info .progress span{
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 767px){
    .projects-page .project .technologies{
        width: 100%;
        margin-left: initial;
    }
    .projects-page .project .technologies span{
        width: fit-content;
    }
}

/* End Projects Page */

/* ============================================================= */

/* ============================================================= */

/* Courses Page */

.page .content .courses-page{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px){
    .page .content .courses-page{
        grid-template-columns: minmax(195px, 1fr);
        margin: 0 10px;
    }
}

.courses-page .course img.cover{
    transition: .2s;
    /* filter: blur(3px); */
}

.courses-page .course img.avatar{
    width: 64px;
    height: 64px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 20px;
    left: 20px;
}

.courses-page .course p.description{
    line-height: 1.6;
}

.courses-page .course .info{
    border-top: 1px solid #eee;
}

.courses-page .course .info span.title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* End Courses Page */

/* ============================================================= */

/* ============================================================= */

/* Friends Page */

.page .content .friends-page{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px){
    .page .content .friends-page{
        grid-template-columns: minmax(195px, 1fr);
        margin: 0 10px;
    }
}

.friends-page .friend .contact{
    position: absolute;
    top: 10px;
    left: 10px;
}
.friends-page .friend .contact i{
    color: #666;
    transition: .2s;
    cursor: pointer;
}
.friends-page .friend .contact i:hover{
    background-color: var(--blue-color);
    color: #fff;
}

.friends-page .friend img{
    width: 100px;
    height: 100px;
}

.friends-page .friend .info{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.friends-page .friend .info i{
    margin-right: 5px;
}

.friends-page .friend .info .vip{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}

.friends-page .friend .foot{
    flex-wrap: wrap;
}

/* End Friends Page */

/* ============================================================= */

/* ============================================================= */

/* Files Page */

.files-page .stats{
    min-width: 250px;
}

.files-page{
    flex-direction: row-reverse;
    align-items: flex-start;
}

@media (max-width: 767px){
    .files-page{
        flex-direction: column;
        align-items: normal;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.files-page .files{
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.files-page .files .file img{
    width: 64px;
    height: 64px;
    transition: .3s;
}

.files-page .files .file:hover img{
    transform: rotate(5deg);
}

.files-page .files .file i{
    position: absolute;
    top: 10px;
    left: 10px;
}

.files-page .files .file .info{
    border-top: 1px solid #eee;
}

.files-page .stats .box .icon{
    width: 40px;
    height: 40px;
}

.files-page .stats .box .icon.blue{
    background-color: #0075ff33;
}

.files-page .stats .box .icon.green{
    background-color: #22c55e33;
}

.files-page .stats .box .icon.red{
    background-color: #f4433633;
}

.files-page .stats .box .icon.orange{
    background-color: #f59e0b33;
}

.files-page .stats a{
    transition: .2s;
    padding: 10px 15px;
    margin: 0 auto;
}

.files-page .stats a:hover i{
    animation: go-up .8s infinite;
}

.files-page .stats a:hover{
    background-color: var(--blue-alt-color);
}

/* End Files Page */

/* ============================================================= */

/* ============================================================= */

/* Plans Page */

.plans-page .plan .plan-head{
    border: 3px solid white;
    outline: 3px solid transparent;
}

.plans-page .plan.green .plan-head{
    outline-color: var(--green-color); 
}

.plans-page .plan.blue .plan-head{
    outline-color: var(--blue-color); 
}

.plans-page .plan.orange .plan-head{
    outline-color: var(--orange-color); 
}

.plans-page .plan .plan-head span.price{
    font-size: 40px;
    margin: 0 auto;
}

.plans-page .plan .plan-head span.price > span{
    position: absolute;
    font-size: 22px;
    top: 0;
    left: -18px;
}

.plans-page .plan ul.feats li{
    border-bottom: 1px solid #eee;
}

.plans-page .plan ul.feats li i.availability{
    color: var(--red-color);
    font-size: 18px;
}

.plans-page .plan ul.feats li i.yes{
    color: var(--green-color);
}

.plans-page .plan ul.feats li i.help{
    cursor: pointer;
}

/* End Plans Page */

/* ============================================================= */

/* Animations */

@keyframes change-color{
    from{
        background-color: var(--blue-color);
    }
    to{
        background-color: white;
    }
}

@keyframes go-up {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(0);
    }
}

/* End Animations */